*:focus {outline:none}

body {
	background: #021425;
	color: #d2d2f9;
	padding: 0;
	margin: 0;

	font-family: 'Exo', sans-serif;
}

a, a:visited {
    color: #2a99c7;
    text-decoration: none;
}

a:hover {
	color: #63d1ff;
}

button {
	font-family: 'Exo', sans-serif;
}

button:hover {
	color: orange;
	cursor: pointer;
}

select {
	font-family: 'Exo', sans-serif;
}



#page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#map-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#control-panel-wrapper {
    display: flex;
    background: rgba(5, 33, 62, 0.43);
    align-items: center;
    justify-content: space-around;

    position: absolute;
    bottom: 0;
    width: 100%;
}

#control-panel-wrapper button {
    background: no-repeat;
    border: none;
    color: #e2e2ff;
}


#control-panel-wrapper button:hover {
    color: orange;
}

#play-controls {
	flex-grow: 1;
    display: flex;
    justify-content: center;
}

#play-controls button:not(#toggle-explore-controls) {
	font-size: 2rem;
	padding: 1rem 1.5rem;	
}

#play-controls button:hover {
	color: orange;
	cursor: pointer;
}

#search-controls {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    min-height: 3rem;
}

#debug-panel {
    background: #11375a;
    color: #d2d2f9;
    padding: 0.5rem;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    border-radius: 5px;
    width: 30vw;
    font-size: 0.8rem;
    display: none;
}

#highlighted {
	background: #11375a;
    color: #d2d2f9;
	position: absolute;
	top: 0.5rem;
    right: 0.5rem;
}




/* album info */

#now-playing {
    width: 300px;
    display: flex;
    padding: 0.6rem;
    background: #051d38;
    border-radius: 0.2rem;
    min-height: 64px;

    position: absolute;

    right: 0.5rem;
    bottom: 0.5rem;
}

#toggle-explore-controls {
	position: absolute;
	background: none;
	border: none;
    color: #e2e2ff;
	left: 1rem;
	font-size: 2rem;
}


#playing-album-photo {
	display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.7rem;
}


#playing-metadata {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #d2d2f9;
}

/* explore controls */

#explore-controls {
	background: rgba(5, 33, 62, 0.43);
    display: none;
    flex-direction: column;

    width: 300px;

    padding: 1rem;
    border-radius: 0.5rem;
    z-index: 3;

    left: 1rem;
    position: absolute;

    transform: translateY(40%);

}


.explore-controls-section {
	padding: 1rem 0;
    border-bottom: 1px solid #21588c;
}

.one-slider {
	display: flex;
	flex-direction: column;
    padding-bottom: 1rem;
}

.slider-label {
	display: flex;
	justify-content: space-between;
}

.dropdown-wrapper {
	display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}