<!DOCTYPE html>

<HTML>
    <HEAD> 
        <TITLE>Song Map</TITLE>
        <meta charset="utf-8">

        <!--  Google Fonts -->

        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">

        <!-- Browser icon -->
        <link rel="icon" href="./assets/images/icon.png" />

        <!-- Font awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="./stylesheet.css"></style>

    </HEAD>


    <BODY>
    	<h1>Song Map</h1>

        <input id="song" placeholder="some-song"/><button id="search-songs">Search songs</button>
        <div id = "song-results"></div>

        <div class = "control-panel">
            <div class="slidecontainer">
                <p>Energy
                    <input type="range" min="0" max="1" value="0.5" class="slider" step="0.1" id="energy">
                </p>
                <p>Danceability
                    <input type="range" min="0" max="1" value="0.5" class="slider" step="0.1" id="danceability">
                </p>
                <p>Valence (happy/sad)
                    <input type="range" min="0" max="1" value="0.5" class="slider" step="0.1" id="valence">
                </p>
                <p>Tempo
                    <input type="range" min="60" max="150" value="120" class="slider" step="5" id="tempo">
                </p>
            </div>
        </div>

    	<button id="get-token">Get the token</button>
    	<button id="get-recs">Get some recommendation</button>

    	<div id = "song-info"></div>
        <canvas id = "song-map" width="800" height="800"></canvas>

    	
        <div id="current-track"></div>
        <div id="all-tracks"></div>
        <div id="recommendations"></div>

       
        

        <pre id = "response"></pre>




        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="./script.js"></script>
    </BODY>
</HTML>