<!DOCTYPE html>

<HTML>
    <HEAD> 
        <TITLE>Song Map</TITLE>
        <meta charset="utf-8">

        <!--  Google Fonts -->

        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">

        <!-- Browser icon -->
        <link rel="icon" href="./assets/images/icon.png" />

        <!-- Font awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="./stylesheet.css"></style>

    </HEAD>


    <BODY>
    	<h1>Song Map</h1>

        <a href="/login"><button>FANCY LOGIN</button></a>

        <input id="song" placeholder="some-song"/><button id="search-songs">Search songs</button>
        <div id = "song-results"></div>

        <div class = "control-panel">
            <div id="slider-wrapper">
                <div class="one-slider">Energy
                    <input type="range" min="0" max="1" value="0.5" class="slider" step="0.1" id="energy">
                </div>
                <div class="one-slider">Danceability
                    <input type="range" min="0" max="1" value="0.5" class="slider" step="0.1" id="danceability">
                </div>
                <div class="one-slider">Valence (happy/sad)
                    <input type="range" min="0" max="1" value="0.5" class="slider" step="0.1" id="valence">
                </div>
                <div class="one-slider">Tempo
                    <input type="range" min="60" max="150" value="120" class="slider" step="5" id="tempo">
                </div>
            </div>

            <div id="current-track"></div>

        </div>

        <div id ="map-wrapper">
            <div id = "camera-position">
                {
                <span id="camera-x">-</span>, 
                <span id="camera-y">-</span>, 
                <span id="camera-z">-</span>
                }
            </div>

            <div id = "mouse-position">
                {
                <span id="mouse-x">-</span>, 
                <span id="mouse-y">-</span>, 
                }
            </div>

            <div id ="map-controls">
    	       <button id="next"><i class="fas fa-play"></i> thank u, next</button>
               <button id="more-like-this"><i class="fas fa-thumbs-up"></i> i like dis</button>
    	       <button id="get-recs">Get recommendation</button>
            </div>

            <!-- <canvas id = "song-map" width="400" height="400"></canvas> -->

    	</div>
        
        <div id="all-tracks"></div>
        <div id="recommendations"></div>

       
        

        <pre id = "response"></pre>



        <script src="./assets/three.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="./script.js"></script>
    </BODY>
</HTML>